@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  box-sizing: border-box;
}

.calen-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #ffffff;
  padding-top: 60px; /* 고정 헤더로 인해 내용이 가려지지 않도록 추가 */
}

/* 헤더 스타일 */
.calen-header {
  margin-top: 20px;
  margin-bottom:20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 0; /* 추가적인 내부 여백 제거 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  height: 60px; /* 고정 높이로 아이콘 위치 안정화 */
}

.calen-header-title {
  font-size: 21px;
  color: #414141;
  font-weight: 800;
  text-align: center;
  flex-grow: 1;
  margin: 0;
}

.calen-header-left {
  margin: 0; /* margin 제거 */
  padding: 0 25px; /* 테두리와의 거리만 명확히 설정 */
}

.calen-header-right {
  margin: 0; /* margin 제거 */
  padding: 0 25px; /* 테두리와의 거리만 명확히 설정 */
}

.calen-header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%; /* 헤더 높이에 맞게 아이콘 위치 중앙 정렬 */
}

/* Container 스타일 */
.calen-container {
  text-align: center;
  padding: 20px;
}

.calen-container form h2 {
  /* font-size: 24px;
  margin-bottom: 10px;
  margin-top:20px; */
  font-size: 24px;
  color: #414141;
  font-weight: 400;
  text-align: center;
  flex-grow: 1;
  margin: 0;
  margin-bottom: 10px;
  margin-top:20px;
}


.calen-container .calendar {
  display: inline-block;
  margin-bottom: 20px;
}

.calen-container .button-container {
  margin-top: 20px;
}

.calen-container .create-checklist-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}

.calen-container .create-checklist-button:hover {
  background-color: #0056b3;
}

/* 반응형 디자인: iPhone 12 Pro 해상도 기준 */
@media screen and (max-width: 390px) {
  .calen-header-title {
    font-size: 18px; /* 제목 폰트 크기 조정 */
  }

  .calen-header-left,
  .calen-header-right {
    padding: 0 20px; /* 더 작은 화면에서 패딩 조정 */
  }

  .calen-container .create-checklist-button {
    font-size: 0.9em; /* 버튼 폰트 크기 줄이기 */
    padding: 8px 16px; /* 버튼 패딩 조정 */
  }
}
