@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: #ffffff;
  margin: 0;
}

.select-container {
  width: 100%;
  max-width: 375px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; /* 중앙 정렬 */
}

.select-header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.select-back-icon,
.select-delete-icon {
  
  cursor: pointer;
}

.select-title {
  font-size: 21px;
  color: #414141;
  font-weight: 800;
  text-align: center;
  flex-grow: 1;
}

.select-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 70px; /* 헤더의 높이를 고려 */
}

.select-subtitle {
  font-size: 20px;
  color: #414141;
  margin-bottom: 10px;
  text-align: center;
}

.select-instruction {
  font-size: 12px;
  color: #535252;
  margin-bottom: 10px;
  text-align: center;
}

.select-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.select-search-box {
  display: flex;
  align-items: center;
  border: 1px solid #969292;
  border-radius: 8px;
  padding: 8px;
  background-color: #ffffff;
  width: 100%;
  max-width: 314px;
  position: relative;
  z-index: 1;
}

.select-search-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 14px;
  background-color: transparent;
}

.select-search-button {
  font-size: 18px;
  color: #888888;
  background: none;
  border: none;
  cursor: pointer;
}

.select-suggestions-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  width: 100%;
  max-width: 314px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: calc(100% + 8px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.select-suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
}

.select-suggestion-item:hover {
  background-color: #f0f0f0;
}

.select-selected-destination {
  font-size: 16px;
  color: #414141;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
  .select-container {
    padding: 10px;
  }

  .select-title {
    font-size: 18px;
  }

  .select-back-icon,
  .select-delete-icon {
    width: 24px;
    height: 24px;
  }

  .select-subtitle {
    font-size: 18px;
  }

  .select-instruction {
    font-size: 14px;
  }

  .select-search-box {
    width: 100%;
    
  }

  .select-search-input {
    padding: 10px;
    font-size: 16px;
  }

  .select-search-button {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  .select-container {
    max-width: 600px;
  }
}
