@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* 전역 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif; /* Pretendard 폰트 적용 */
}

.mainbody {
  background-color: #ffffff; /* 배경 흰색 */
  color: #414141;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainbody a {
  text-decoration: none;
  color: inherit;
}

/* 헤더 섹션 */
.mainbody .mainheader {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 헤더 하단 그림자 */
  z-index: 1000; /* 다른 요소 위에 표시 */
}

.mainbody .header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.mainbody .logo {
  width: 40px;
  height: auto;
  margin-right: -15px;
}

.mainbody h1 {
  font-size: 28px;
  font-weight: 800;
  color: #414141;
}

.mainbody .menu {
  width: 30px;
  color: #0A62D0;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* 광고 이미지 */
.mainbody .adv {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

/* 체크리스트 섹션 */
.mainbody .checklist-section {
  padding: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
  gap: 25px;
  overflow-x: auto;
  max-width: 100%;
}

.mainbody .checklist-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 80px;
}

.mainbody .country-flag {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

/* 인기 게시물 섹션 */
.mainbody .post-section {
  padding: 15px 20px;
}

.mainbody .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainbody .section-title {
  font-size: 20px;
  font-weight: bold;
}

.mainbody .post-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.mainbody .post-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
