@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* 전역 스타일 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif; /* Pretendard 폰트 적용 */
}

body {
  background-color: #ffffff; /* 배경 흰색 */
  color: #414141;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.menuh3 h3 a {
  text-decoration: none;
  color: inherit;
}

/* 헤더 섹션 */
.menuheader header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 헤더 하단 그림자 */
  z-index: 1000; /* 다른 요소 위에 표시 */
}

.menuheader .header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.menuheader header .logo {
  width: 40px; /* 로고 크기 */
  height: auto;
  margin-right: -15px; /* 텍스트와 로고 사이 간격 */
}

.menuheader header h1 {
  font-size: 28px;
  font-weight: 800;
  color: #414141;
}

.menuheader header .delete {
    color: #0A62D0;
    position: absolute; /* 절대 위치 지정 */
    right: 25px; /* 오른쪽에서 25px 떨어진 위치 */
    top: 50%; /* 세로 가운데 정렬 */
    transform: translateY(-50%); /* 세로 가운데 정렬 보정 */
    cursor: pointer; /* 마우스 커서 변경 */
  }
  
.menuheader header .back {
      color: #0A62D0;
      position: absolute; /* 절대 위치 지정 */
      left: 25px; /* 오른쪽에서 25px 떨어진 위치 */
      top: 50%; /* 세로 가운데 정렬 */
      transform: translateY(-50%); /* 세로 가운데 정렬 보정 */
      cursor: pointer; /* 마우스 커서 변경 */
    }

.menuheader header .menu {
  width: 30px; /* 메뉴 아이콘 크기 */
  color: #0A62D0;
  position: absolute; /* 절대 위치 지정 */
  right: 25px; /* 오른쪽에서 25px 떨어진 위치 */
  top: 50%; /* 세로 가운데 정렬 */
  transform: translateY(-50%); /* 세로 가운데 정렬 보정 */
  cursor: pointer; /* 마우스 커서 변경 */
}